* {
margin: 0;
padding: 0;
}
body, h1, h2, h3, h4, h5, input, select, textarea, table, th, td {
font-size:18px;
font-family: 'Source Sans Pro', sans-serif;
color:#3e3e3e;
font-weight:400;
letter-spacing:0.01em;
}
body, html {
margin:0;
padding:0;
height: 100%;
}
body {
position:relative;
}
:focus {
outline: none;
}
a:link, a:visited, a:hover, a:focus, a:active {
border: 0;
outline: 0;
}

input, select, textarea {
border:1px solid #d0d0d0;
padding:3px;
}
select {
padding:0;
}
table {
border-collapse:collapse;
border:none;
}
td, th {
border:1px solid #d0d0d0;
text-align:left;
padding:2px 5px;
vertical-align:top;
}
th, thead td {
font-family: 'Source Sans Pro'; font-weight: 700;
}
h1, h2, h3, h4, h5, h6 {
margin:20px 0 10px 0;
padding:0;
color:#3e3e3e;
}
h1 {
font-family: 'Source Sans Pro'; font-weight: 600;
font-size:30px;
color:#6c6c6c;
}
h2{
font-family: 'Source Sans Pro'; font-weight: 600;
font-size:26px;
}
h3{
font-family: 'Source Sans Pro'; font-weight: 600;
font-size:22px;
}
hr {
border:none;
color:#d0d0d0;
background-color:#d0d0d0;
height:1px;
}
img {
border:none;
}
a {
text-decoration:underline;
cursor:pointer;
color:#cd972b;
}
a:hover {
text-decoration:none;
}
a:link, a:visited, a:hover, a:focus, a:active {
color:#cd972b;
}
p, ul {
margin:12px 0;
}
ul {
list-style-type: disc;
padding-left:30px;
}
li {
margin:9px 0;
}
b, strong {
font-weight:normal;
font-family: 'Source Sans Pro'; font-weight: 700;
color:#2b2b2b;
}

/*************************************************************/
body {
    background-color:#f8f8f8;
    padding-right: 0 !important;
}
/*************************************************************/

.top-container {
    position: relative;
    box-sizing: border-box;
    min-height: 100%;
    padding-bottom: 200px;
    background-color:#fff;
    margin-left:12%;
    margin-right:12%;
    border-right:1px solid #eeeeee;
    border-left:1px solid #eeeeee;
}
.bottom-container {
    position: relative;
    height: 200px;
    margin-top: -200px;
    z-index:401;
}
.border-left, .border-right {
    position:fixed;
    width:12%;
    background-color:#f8f8f8;
    z-index:1000;
}
.border-left {
    border-right:1px solid #eeeeee;
    left:0;
}
.border-right {
    right:0;
    border-left:1px solid #eeeeee;
}

/*************************************************************/


.logo {
    position:absolute;
    z-index:990;
    text-align:center;
    width:100%;
    height:190px;
    font-size:0;
}
.logo a,
.logo a:hover {
    text-decoration:none;
}
.logo .logo-img {
    top:20px;
    position:relative;
    width:350px;
    left:22px;
}
.logo .logo-animation {
    position:relative;
    width:44px;
    left:-299px;
    top:3px;
}
.logo .slogan {
    position:absolute;
    font-size:20px;
    width:100%;
    top:135px;
    color:#979797;
}
.logo .slogan .frame1,
.logo .slogan .frame2 {
    position:relative;
}
.logo .slogan .color {
    color:#c9a763;
    color:#000000;
    font-weight:600;
}
.logo .slogan .frame1 span {
    color:#c9a763;
    color:#000000;
    position:absolute;
    left:0;
    opacity:1;
    font-weight:600;
}
.logo .slogan .frame2 span {
    color:#c9a763;
    color:#000000;
    position:absolute;
    left:0;
    opacity:0;
    font-weight:600;
}
.logo .slogan br {display:none;}

/*************************************************************/

.menu {
    position:absolute;
    z-index:1000;
    text-align:center;
    top:190px;
    width:100%;
}
.menu ul {
    position:relative;
    display:inline-block;
    list-style:none;
    margin:0;
    padding:0 0 0 16px;
    white-space:normal;
    background-color:rgba(0, 0, 0, 0.80);
    z-index:1002;
}
.menu ul li {
    position:relative;
    display:inline-block;
    margin:0;
    padding:0;
    margin-right:16px;
    height:40px;
    text-align:left;
}
.menu ul li a {
    display:block;
    padding-top:9px;
    font-size:15px;
    color:#fff;
    text-decoration:none;
    white-space:nowrap;
    font-family: 'Source Sans Pro'; font-weight: 400;
    letter-spacing:0.12em;
}
.menu ul li a:hover {
    text-decoration:underline;
}
.menu ul li:hover ul {
    display:block;
}
.menu ul li ul {
    display:none;
    position:absolute;
    z-index:101;
    background-color:rgba(0, 0, 0, 0.80);
    top:40px;
    left:-16px;
}
.menu ul li ul li {
    display:block;
    border-bottom:1px solid #656565;
}
.menu ul li ul li:first-of-type {
    border-top:1px solid #656565;
}
.menu ul li ul li:last-of-type {
    border-bottom:none;
}
.menu-mobile i {
    display:block;
    height:40px;
    margin:0;
    padding:5px 0 0 0;
    background-color:rgba(0, 0, 0, 0.80);
    color:#fff;
    font-size:32px;
    cursor:pointer;
}
.menu-mobile ul {
    display:none;
}
.menu-mobile ul li {
    display:block;
    text-align:center;
}
.menu-mobile {
    display:none;
}

.menu ul li .search:hover {
    color:#cd972b;
}
.menu-search {
    position:relative;
    background-color:#949494;
    width:300px;
    font-size:0;
    padding:0 4px 4px 4px;
    z-index:1001;
    display:none;
}
.menu-search.s {
    display:inline-block;
}
.menu-search i {
    font-size:18px;
    color:#acacac;
    position:absolute;
    right:12px;
    top:7px;
    cursor:pointer;
}
.menu-search input {
    width:100%;
    background-color:#f9f9f9;
    border:none;
    height:32px;
    font-size:16px;
    padding:4px 33px 4px 8px;
}

.menu-mobile li.search {
    height:58px;
}
.menu-mobile li.search form {
    display:inline-block;
    width:90%;
    max-width:300px;
    position:relative;
}
.menu-mobile li.search input {
    width:100%;
    background-color:#f9f9f9;
    border:none;
    height:38px;
    font-size:20px;
    padding:4px 35px 4px 8px;
    margin-top:3px;
}
.menu-mobile li.search span {
    font-size:20px;
    color:#acacac;
    position:absolute;
    right:10px;
    top:11px;
    cursor:pointer;
}
/*************************************************************/
.border-left,
.border-right {
    height:230px;
}
.head,
.slider, .slider-image, .slider-bg, .slider-svg {
    height:230px;
}
.slider-image {
    height:210px;
}
.head {
    position:absolute;
    top:0;
    z-index:900;
    width:100%;
    background-color:#fff;
}

/**************/

.slider {
    position:fixed;
    z-index:300;
    width:100%;
}
.slider-image, .slider-bg {
    position:absolute;
    width:100%;
}
.slider-image {
    z-index:301;
    background-size:cover;
    background-position:center center;
    background-repeat: no-repeat;
}
.slider-bg {
    z-index:302;
    /*background-color:rgba(225, 199, 147, 0.3);*/
}
.slider-text {
    position:absolute;
    z-index:303;
    font-family: 'Source Sans Pro'; font-weight: 900;
    color:#fff;
    font-size:26px;
    margin:0 auto;
    width:100%;
    text-align:center;
    letter-spacing:0.03em;
    padding-top:50px;
}
.slider-svg {
    position:absolute;
    width:100%;
    z-index:304;
    background-image:none;
    background-size:3200px 460px;
    background-position:bottom center;
    background-repeat: repeat-x;
}

/**************/

.top-center {
    position:relative;
    padding-top:230px;
}
.top-content {
    position:relative;
    z-index:501;
    margin-bottom:130px;
    background-color:#fff;
}

/*************************************************************/

.slick-track {
    margin:0 auto;
}

/*************************************************************/

.mod-news1 {
    position:relative;
}
.mod-news1 .component-head-block {
    color:#6c6c6c;
    text-decoration:none;
}
.mod-news1 .article {
    position:relative;
    margin:40px 0 0 0;
    display:block;
    text-decoration:none;
    overflow:hidden;
    padding-bottom:30px;
    border-bottom:1px solid #cdcdcd;
    cursor:pointer;
}
.mod-news1 .article-images {
    position:absolute;
    width:230px;
    height:230px;
    right:0;
    top:0;
}
.mod-news1 .article-img {
    position:relative;
    width:100%;
    height:230px;
    background-size:cover;
    background-position:center center;
    background-repeat: no-repeat;
    background-color:#f8f8f8;
    background-color:#ffffff;
}
.mod-news1 .article-content {
    position:relative;
    width:auto;
    padding-right:260px;
    min-height:230px;
}
.mod-news1 .article-content-head {
    font-family: 'Source Sans Pro'; font-weight: 600;
    color:#000000;
    margin-bottom:10px;
    font-size:18px;
}
.mod-news1 .article-content-txt {
    text-align:justify;
    color:#3e3e3e;
    font-size:18px;
    line-height:30px;
}
.mod-news1 .article-tags {
    margin-top:10px;
}
.mod-news1 .article-tags a {
    text-decoration:none;
    margin-right:7px;
    font-size:16px;
}
.mod-news1 .article-tags a:hover {
    text-decoration:underline;
}
.mod-news1 i {
    color:#717171;
}
.mod-news1 .article:hover i {
    color:#cd972b;
}
.mod-news1 .article-content-head span {
    color:#9a9a9a;
    font-family: 'Source Sans Pro'; font-weight: 300;
    font-size:0.8em;
    white-space: nowrap;
}

/*******************/

.mod-news2 {
    position:relative;
}
.mod-news2 .component-head-vr {

}
.mod-news2 .article {
    position:relative;
    display:block;
    text-decoration:none;
    border-bottom:1px solid #cdcdcd;
    cursor:pointer;
}
.mod-news2 .article:last-of-type {
    border:none;
}
.mod-news2 .article-top {
    position:relative;
    
}
.mod-news2 .article-vr {
    position:relative;
    height:25px;
    border-right:1px solid #cdcdcd;
    width:50%;
}
.mod-news2 .article-date {
    margin:0 auto;
    width:100px;
    text-align:center;
    border:1px solid #cdcdcd;
    color:#3e3e3e;
    font-family: 'Source Sans Pro'; font-weight: 300;
    font-size:0.8em;
    padding:3px;
}
.mod-news2 .article-content {
    position:relative;
    width:auto;
    padding-right:180px;
    min-height:150px;
}
.mod-news2 .article-head {
    font-family: 'Source Sans Pro'; font-weight: 600;
    color:#000000;
    margin:10px 0 10px 0;
    font-size:18px;
}
.mod-news2 .article-bottom {
    position:relative;
}
.mod-news2 .article-txt {
    font-size:18px;
    text-align:justify;
    color:#3e3e3e;
    margin:0 0 0 0;
    padding-bottom:10px;
    line-height:28px;
}
.mod-news2 .article-tags {
    padding-bottom:30px;
}
.mod-news2 .article-tags a {
    text-decoration:none;
    margin-right:7px;
    font-size:16px;
}
.mod-news2 .article-tags a:hover {
    text-decoration:underline;
}
.mod-news2 i {
    color:#717171;
}
.mod-news2 .article-img, .mod-news2 .article-img-black {
    position:absolute;
    width:150px;
    height:150px;
    right:0;
    top:0;
    background-size:cover;
    background-position:center center;
    background-repeat: no-repeat;
    background-color:#f8f8f8;
    background-color:#fff;
}
.mod-news2 .article-img-black {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray; /* IE 6-9 */
}

/*************************************************************/

.mod-blog {
    position:relative;
}
.mod-blog .component-head-vr.b {
    height:30px;
}
.mod-blog .article {
    position:relative;
    display:block;
    text-decoration:none;
    border-bottom:1px solid #cdcdcd;
    padding-bottom:45px;
}
.mod-blog .article:last-of-type {
    border:none;
}
.mod-blog .article-vr {
    position:relative;
    height:25px;
    border-right:1px solid #cdcdcd;
    width:50%;
}
.mod-blog .article-date {
    margin:0 auto;
    margin-bottom:30px;
    width:100px;
    text-align:center;
    border:1px solid #cdcdcd;
    border-top:none;
    color:#3e3e3e;
    font-family: 'Source Sans Pro'; font-weight: 300;
    font-size:0.8em;
    padding:3px;
}
.mod-blog .article:first-of-type .article-date {
    border-top:1px solid #cdcdcd;
}
.mod-blog .article-head {
    position:relative;
    font-family: 'Source Sans Pro'; font-weight: 600;
    color:#000000;
    margin:0 0 10px 0;
    font-size:26px;
    top:-3px;
}
.mod-blog .article-txt {
    font-size:18px;
    color:#3e3e3e;
    margin:0 0 0 0;
    padding-bottom:10px;
    line-height:28px;
}
.mod-blog .article-txt .h {
    display:none;
}
.mod-blog .article-tags {
    margin-top:20px;
}
.mod-blog .article-tags a {
    text-decoration:none;
    margin-right:7px;
    font-size:16px;
}
.mod-blog .article-tags a:hover {
    text-decoration:underline;
}
.mod-blog .readmore {
    white-space:nowrap;
}

/******************************/

.mod-blog .images-txt {
    position:relative;
    float:right;
    overflow:hidden;
    height:262px;
    margin: 0 0 0 20px;
}
.mod-blog .images-txt img {
    position:relative;
    float:left;
    height:262px;
}
.mod-blog .images-txt .images-box {
    position:relative;
    float:left;
}
.mod-blog .images-txt .images-box.c3 {
    width:132px;
}
.mod-blog .images-txt .images-box.c4 {
    width:88px;
}
.mod-blog .images-txt .img {
    position:relative;
    display:block;
    margin:0 0 2px 2px;
    background-repeat: no-repeat;
    background-position:center center;
    background-size:cover;
}
.mod-blog .images-txt .img:last-of-type {
    margin-bottom:0;
}
.mod-blog .images-txt .images-box.c3 .img {
    position:relative;
    width:130px;
    height:130px;
}
.mod-blog .images-txt .images-box.c4 .img {
    position:relative;
    width:86px;
    height:86px;
}

/******************************/

.mod-blog .mobile {
    display:none;
}
.mod-blog .images-top {
    position:relative;
    height:262px;
    margin:0 0 25px 0;
    overflow:hidden;
}
.mod-blog .mobile .images-top {
    overflow-x:scroll;
    overflow-y:hidden;
}
.mod-blog .images-top .wrapper {
    width:10000px;
    height:262px;
}
.mod-blog .images-top img,
.mod-blog .images-top .images-box,
.mod-blog .images-top .first-box,
.mod-blog .images-top .last-box {
    position:relative;
    height:262px;
    float:left;
}
.mod-blog .images-top .img {
    position:relative;
    display:block;
    background-repeat: no-repeat;
    background-position:center center;
    background-size:cover;
    float:left;
    margin:0 0 2px 2px;
    width:86px;
    height:86px;
}
.mod-blog .images-top .first-box .img  {
    width:130px;
    height:130px;
}

.mod-blog .images-top .images-box.c2 {
    width:264px;
}
.mod-blog .images-top .images-box.c2 .img {
    width:262px;
    height:262px;
}

.mod-blog .images-top .images-box.c3 {
    width:528px;
}
.mod-blog .images-top .images-box.c3 .img {
    width:262px;
    height:262px;
}

.mod-blog .images-top .images-box.c4 {
    width:396px;
}
.mod-blog .images-top .images-box.c4 .img {
    width:130px;
    height:130px;
}
.mod-blog .images-top .images-box.c4 .img:first-of-type {
    width:262px;
    height:262px;
}

.mod-blog .images-top .images-box.c5 {
    width:264px;
}
.mod-blog .images-top .images-box.c6 {
    width:220px;
}
.mod-blog .images-top .images-box.c7 {
    width:176px;
}
.mod-blog .images-top .images-box.c8 {
    width:352px;
}
.mod-blog .images-top .images-box.c9 {
    width:308px;
}
.mod-blog .images-top .images-box.c10 {
    width:264px;
}
.mod-blog .images-top .images-box.c11 {
    width:440px;
}
.mod-blog .images-top .images-box.c12 {
    width:396px;
}
.mod-blog .images-top .images-box.c13 {
    width:352px;
}
.mod-blog .images-top .images-box.c14,
.mod-blog .images-top .images-box.c15,
.mod-blog .images-top .images-box.c16 {
    width:440px;
}
.mod-blog .images-top .images-box.c17,
.mod-blog .images-top .images-box.c18,
.mod-blog .images-top .images-box.c19 {
    width:528px;
}
.mod-blog .images-top .images-box.c20,
.mod-blog .images-top .images-box.c21,
.mod-blog .images-top .images-box.c22 {
    width:616px;
}
.mod-blog .images-top .images-box.c23,
.mod-blog .images-top .images-box.c24,
.mod-blog .images-top .images-box.c25 {
    width:704px;
}
.mod-blog .images-top .images-box.c26,
.mod-blog .images-top .images-box.c27,
.mod-blog .images-top .images-box.c28 {
    width:792px;
}
.mod-blog .images-top .images-box.c29,
.mod-blog .images-top .images-box.c30,
.mod-blog .images-top .images-box.c31 {
    width:880px;
}
.mod-blog .images-top .images-box.c32,
.mod-blog .images-top .images-box.c33,
.mod-blog .images-top .images-box.c34 {
    width:968px;
}
.mod-blog .images-top .images-box.c35,
.mod-blog .images-top .images-box.c36,
.mod-blog .images-top .images-box.c37 {
    width:1056px;
}
.mod-blog .images-top .images-box.c38,
.mod-blog .images-top .images-box.c39,
.mod-blog .images-top .images-box.c40 {
    width:1144px;
}

.mod-blog .images-top .images-box.c6 .first-box,
.mod-blog .images-top .images-box.c9 .first-box,
.mod-blog .images-top .images-box.c12 .first-box {
    width:132px;
}
.mod-blog .images-top .images-box.c8 .first-box,
.mod-blog .images-top .images-box.c11 .first-box {
    width:264px;
}
.mod-blog .images-top .images-box.c6 .last-box,
.mod-blog .images-top .images-box.c8 .last-box {
    width:88px;
}
.mod-blog .images-top .images-box.c9 .last-box,
.mod-blog .images-top .images-box.c11 .last-box {
    width:176px;
}
.mod-blog .images-top .images-box.c12 .last-box {
    width:264px;
}

.mod-blog .images-top .images-box.c5 .img {
    width:130px;
    height:130px;
}

/*********/

.mod-blog .nl,
.mod-blog .nr {
    display:none;
}

/*********/

.images-box a {
    display:block;
}
.mod-blog .gallery,
.mod-blog .gallery-txt {
    transition: all 0.2s;
}
.mod-blog .gallery:hover,
.mod-blog .gallery-txt:hover {
    opacity:0.8;
}

@media screen and (max-width: 390px) {
    .mod-blog .mobile .images-top.one .wrapper {
        width:100%!important;
    }
    .mod-blog .mobile .images-top.one .wrapper img {
        width:100%;
        height:auto;
    }
    .mod-blog .mobile .images-top.one {
        height:auto;
    }
}

/*************************************************************/

.com-blog-article .readmore {
    display:none;
}

/*************************************************************/

.mod-blog .component-head-block h1 {
    margin-bottom:0;
}
.com-blog-article .component-head-block h1 {
    margin-bottom:15px;
}

/*************************************************************/

.component {
    padding:0 7% 0 7%;
    position:relative;
}
.component-head-block div, .component-head-block h1 {
    font-family: 'Source Sans Pro'; font-weight: 300;
    font-size:30px;
    text-align:center;
    padding:10px 1% 10px 1%;
    margin:0;
    border-top:1px solid #cdcdcd;
    border-bottom:1px solid #cdcdcd;
    display:inline-block;
    color:#3e3e3e;
    text-transform:uppercase;
}
.component-head-block a div:hover, .component-head-block a h1:hover {
    color:#cd972b;
}
.component-head-block h1 {
    margin-bottom:20px;
}
.component-head-block {
    text-align:center;
}
.component-head-vr {
    height:50px;
    border-right:1px solid #cdcdcd;
    width:50%;
}

.component-tags {
    margin-top:30px;
}
.component-tags span {
    color:#9a9a9a;
    margin-right:7px;
    font-family: 'Source Sans Pro'; font-weight: 300;
}
.component-tags a {
    margin-right:7px;
    text-decoration:none;
}
.component-tags a:hover {
    text-decoration:underline;
}
#component-tags-copy {
    position:absolute;
    opacity:0;
    left:-9000px;
}

.component-content {
    line-height:28px;
    overflow:hidden;
}

.component-share {
    overflow:hidden;
    margin-top:40px;
}
.component-share-head {
    float:left;
    color:#9a9a9a;
    margin-right:15px;
    font-family: 'Source Sans Pro'; font-weight: 300;
}
.component-share .ya-share2 {
    float:left;
}
/*************************************************************/

.com-page {
    overflow:hidden;
}
.com-page-image {
    width:100%;
    margin:10px 0 20px 0;
}

/*************************************************************/

.com-search .article-tags .com {
    color:#3e3e3e;
    text-decoration:underline;
}
.com-search .article-tags .com:hover {
    text-decoration:none;
}
.com-search .article-tags span {
    margin-right:7px;
}
.com-search .noresult {
    text-align:center;
    padding: 0 0 30px 0;
}

/*************************************************************/
.com-news1-article .slick-slide {
    margin:0 10px;
}
.com-news1-article-date {
    text-align:center;
    color:#9a9a9a;
    font-family: 'Source Sans Pro'; font-weight: 300;
    margin-bottom:15px;
}
.com-news1-article h2 {
    text-align:center;
    margin:15px 0 25px 0;
    padding: 0 7% 0 7%;
}
.com-news1-article-images {
    position:relative;
    width:100%;
    height:242px;
    background-color:#f8f8f8;
    margin-bottom:40px;
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
}
.com-news1-article-images div {
    position:relative;
    width:100%;
    height:240px;
}
.com-news1-article-images div a {
    display:block;
    position:relative;
    height:240px;
    width:auto;
    background-size:cover;
    background-position:center center;
    background-repeat: no-repeat;
}
@media screen and (max-width: 991px) {
    .com-news1-article-images div a {
        background-size:auto 100%;
    }
    .com-news1-article .slick-slide {
        margin:0;
    }
}
.com-news1-article-images .slick-arrow {
    position:absolute;
    color:#b8b8b8;
    font-size:40px;
    top:44%;
    cursor:pointer;
    z-index:1000;
    display:block;
    width:60px;
    height:60px;
    padding-top:10px;
}
.com-news1-article-images .slick-arrow:hover {
    color:#d3d3d3;
}
.com-news1-article-images .slick-prev {
    left:20px;
    text-align:left;
}
.com-news1-article-images .slick-next {
    right:20px;
    text-align:right;
}
.com-news1-article-images .slick-disabled {
    visibility:hidden;
}
.com-news1-list .article:last-child {
    border:none;
}

/*************************************************************/

.com-news1-list .article-images {
    width:160px;
    height:160px;
}
.com-news1-list .article-img {
    height:160px;
}
.com-news1-list .article-content {
    padding-right:190px;
    min-height:160px;
}

/*************************************************************/

.com-news2-list .article:last-child {
    border:none;
}
.com-news2-list .articles {
    margin-bottom:20px;
}

.com-news2-list .component-head-block h1 {
    margin-bottom:0;
}
.com-news2-list .article-head,
.com-news2-list .article-txt {
    font-size:18px;
}

/*************************************************************/



/*************************************************************/

.banners {
    overflow:hidden;
    margin-top:30px;
}
.banners-hr{
    border-top:1px solid #cdcdcd;
}
.banners-images {
    text-align:center;
}
.banners-images a {
    display:inline-block;
    margin:20px;
}
.banners .component-head-block div {
    border-bottom:none;
}

/*************************************************************/

.bottom-bg {
    background-image:none;
    background-size: 3200px 460px;
    background-position:bottom center;
    background-repeat: repeat-x;
    width:100%;
    position:absolute;
    bottom:130px;
}
.bottom-footer {
    position:relative;
}
.bottom-footer-left {
    position:relative;
    padding:0 0 0 5%;
}
.bottom-footer-center {
    position:relative;
    padding:0;
}
.bottom-footer-right {
    position:relative;
    padding:0 5% 0 0;
}

.bottom-container,
.bottom-bg,
.bottom-footer {
    height:200px;
}
.bottom-container,
.bottom-footer,
.bottom-footer-left,
.bottom-footer-center,
.bottom-footer-right {
    background-color:#f8f8f8;

}
.bottom-footer-left p,
.bottom-footer-center p,
.bottom-footer-right p {
    margin:0;
    padding:4px 0;
}

/*************************************************************/

.bottom-social {
    position:relative;
}
.bottom-social a{
    font-size:36px;
    color:#3e3e3e;
    letter-spacing:0.2em;
    margin:0 5px 0 5px;
    display:inline-block;
}
.bottom-social a:hover {
    color:#636363;
}
.bottom-social i {

}

/*************************************************************/

.bottom-subscribe {
    position:relative;
    text-align:center;
}
.bottom-subscribe .politika span{
    font-size:13px;
    color:#9b9b9b;
}
.bottom-subscribe .politika span a {
    color:#9b9b9b;
}
.bottom-subscribe .politika input{
    margin-right:3px;
}
.subscribe-head {
    font-family: 'Source Sans Pro'; font-weight: 400;
    font-size:24px;
    color:#6c6c6c;
    padding: 0 1% 15px 1%;
}
#subscribe-email {
    text-align:center;
    display:inline-block;
    color:#898989;
    font-family: 'Source Sans Pro'; font-weight: 300;
    width:255px;
}
#subscribe-submit {
    margin:15px 0 15px 0;
}
#subscribe-submit button{
    display:inline-block;
    background-color:#3e3e3e;
    color:#fff;
    font-family: 'Source Sans Pro'; font-weight: 300;
    padding:2px 10px 2px 10px;
    cursor:pointer;
    border:1px solid #3e3e3e;
    font-size:16px;
    letter-spacing:0.08em;
}
#subscribe-submit button:hover{
    background-color:#636363;
    border-color:#636363;
}
#subscribe-submit button:active{
    border-bottom:1px solid #979797;
    border-right:1px solid #979797;
    border-top:1px solid #3e3e3e;
    border-left:1px solid #3e3e3e;
}
#subscribe-spinner{
    position:absolute;
    width:50px;
    height:50px;
    top:40px;
    left:50%;
    margin-left:-25px;
    display:none;
    background-image:none;
    background-size:contain;
    background-position:center center;
    background-repeat: no-repeat;
}

/*************************************************************/

.bottom-copyright {
    font-family: 'Source Sans Pro'; font-weight: 300;
    color:#000000;
    text-align:right;
    font-size:17px;
}

/*************************************************************/

.bottom-subscribe,
.bottom-social,
.bottom-copyright {
    padding-bottom:40px;
}

/*************************************************************/

@media screen and (max-width: 1280px) {
    .slider-svg {
        background-image:none;
        background-size:1600px 230px;
    }
}
@media screen and (max-width: 736px) {
    .slider-svg {
        background-image:none;
        background-size:1280px 184px;
    }
}
@media screen and (max-width: 410px) {
    .logo {
        position:absolute;
        z-index:990;
        width:100%;
    }
    .logo .logo-img {
        position:absolute;
        z-index:991;
        width:90%;
        left:5%;
        top:11%;
    }
    .logo .logo-animation {
        position:absolute;
        width:12%;
        left:12.3%;
        top:12%;
    }
    .logo .slogan {
        top:	auto;
        bottom:20px;
        padding:0 5px;
    }
}
@media screen and (max-width: 360px) {
    .logo .slogan {
        bottom:10px;
    }
    .logo .slogan br {display:inline;}
}
@media screen and (max-width: 330px) {
    .logo .slogan {
        bottom:20px;
    }
    #subscribe-email {
        width:90%;
    }
}

@media screen and (max-width: 1250px) {
    .mod-news1 .article-content-txt {
        line-height:26px;
        font-size:17px;
    }
    .mod-news2 .article-txt {
        line-height:26px;
        font-size:17px;
    }
}
@media screen and (max-width: 1150px) {
    .mod-news1 .article-content-txt {
        line-height:24px;
        font-size:16px;
    }
    .mod-news2 .article-txt {
        line-height:24px;
        font-size:16px;
    }
}

@media screen and (max-width: 991px) {
    
    .mod-news1 .article-content-txt {
        line-height:30px;
        font-size:18px;
    }
    .mod-news2 .article-txt {
        line-height:28px;
        font-size:18px;
    }
    .top-container {
        margin:0;
        border:0;
    }
    .border-left, .border-right {
        display:none;
    }
    .component,
    .com-news1-article h2    {
        padding:0 3% 0 3%;
    }
    
    .bottom-footer-left, .bottom-footer-center, .bottom-footer-right {
        position:relative;
        padding:0 5% 0 5%;
    }
    
    .bottom-copyright,
    .bottom-social {
        text-align:center;
    }
    .menu-desktop {
        display:none;
    }
    .menu-mobile {
        display:block;
    }
    
    /********************/

    .slider, .slider-svg, .slider-text, .slider-text, .slider-bg, .slider-image {
        display:none;
    }
    
    /********************/
    
    .mod-news1 {

    }
    .mod-news1 .article-images {
        position:relative;
        width:100%;
        /* height:230px; */
        float:none;
    }
    .mod-news1 .article-img {
        background-size:auto 100%;
    }
    .mod-news1 .article-content {
        width:100%;
        margin-top:20px;
        padding-right:0;
        min-height:0;
    }
    .mod-news1 .article-content-head {
        text-align:center;
    }
    .mod-news1 i, .mod-news2 i {
        visibility: visible;
    }
    
    /*****************/
    
    .mod-news2 .article:hover .article-date {
        color:#3e3e3e;
        border-color:#cdcdcd;
        background-color:#fff;
    }
    .mod-news2 .article-img,
    .mod-news2 .article-img-black {
        display:none;
    }
    .mod-news2 .article-content {
        padding-right:0;
        min-height:0;
        width:100%;
    }
    
}

@media screen and (min-width: 992px) {

}

/*************************************************************/

.pagination {
margin:0;
overflow:hidden;
display: block;
padding: 0;
text-align:center;
}
.pagination a{
display:inline-block;
width:38px;
height:38px;
background-color:#fff;
color:#3e3e3e;
text-decoration:none;
padding:5px 0 0 0;
margin:0 1px 5px 0;
font-family: 'Source Sans Pro'; font-weight: 400;
text-align:center;

-webkit-border-radius: 19px;
-moz-border-radius: 19px;
border-radius: 19px;
}
.pagination a.next{
width:auto;
height:38px;
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
}
.pagination a.active, .pagination a.active:hover {
background-color: #e5c585;
color:#fff;
}
.pagination a:hover {
background-color: #e9e9e9;
}
.pagination a.next:hover{
background-color:transparent;
}

/*************************************************************/

.go-top {
    position:fixed;
    z-index:10000;
    bottom:45px;
    right:10px;
    opacity:0.6;
    -moz-opacity:0.6;
    filter: alpha(opacity=60);
    display:none;
}
.rectangle {
    position:relative;
    width: 40px;
    height: 30px;
    background:#d49f34;
    text-align:center;
}
.rectangle span{
    position:relative;
    color:#fff;
    font-size:25px;
    top:-1px;
}
.triangle-up {
    position:relative;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 10px solid #d49f34;
}

/*************************************************************/

.row,
.container .navbar-collapse {
    margin:0;
}
.both {
    clear:both;
}

/*************************************************************/

.color1 {
    color:#cd972b;
}
.hidden {
    display:none;
}

/*************************************************************/

.slideInDown {
-webkit-animation-name: slideInDown;
animation-name: slideInDown;
-webkit-animation-duration: 0.3s;
animation-duration: 0.3s;
-webkit-animation-fill-mode: both;
animation-fill-mode: both;
}
@-webkit-keyframes slideInDown {
0% {
-webkit-transform: translateY(-100%);
transform: translateY(-100%);
visibility: visible;
}
100% {
-webkit-transform: translateY(0);
transform: translateY(0);
}
}
@keyframes slideInDown {
0% {
-webkit-transform: translateY(-100%);
transform: translateY(-100%);
visibility: visible;
}
100% {
-webkit-transform: translateY(0);
transform: translateY(0);
}
}

.slideOutUp {
-webkit-animation-name: slideOutUp;
animation-name: slideOutUp;
-webkit-animation-duration: 0.3s;
animation-duration: 0.3s;
-webkit-animation-fill-mode: both;
animation-fill-mode: both;
}
@-webkit-keyframes slideOutUp {
0% {
-webkit-transform: translateY(0);
transform: translateY(0);
}
100% {
visibility: hidden;
-webkit-transform: translateY(-100%);
transform: translateY(-100%);
}
}
@keyframes slideOutUp {
0% {
-webkit-transform: translateY(0);
transform: translateY(0);
}
100% {
visibility: hidden;
-webkit-transform: translateY(-100%);
transform: translateY(-100%);
}
} 

.recaptcha {
    margin: 10px auto;
}
.g-recaptcha {
    display: inline-block;
}